@font-face {
    font-family: 'tepeno_sansbold';
    src: url('tepeno_sans_bold-webfont.eot');
    src: url('tepeno_sans_bold-webfont.svg#tepeno_sansbold') format('svg'),
         url('tepeno_sans_bold-webfont.ttf') format('truetype'),
          url('tepeno_sans_bold-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'tepeno_sansregular';
    src: url('tepeno_sans_regular-webfont.eot');
    src: url('tepeno_sans_regular-webfont.svg#tepeno_sansregular') format('svg'),
         url('tepeno_sans_regular-webfont.ttf') format('truetype'),
    url('tepeno_sans_regular-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;

}