section.content{
	position: relative;
	padding-left: 25px;
	background-image: url("../img/content-bg.png");
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	header{
			width: 100%;
			position: relative;
			h1{
				color: $headerhall;
				text-transform: uppercase;
				font-family: 'tepeno_sansbold';
				 font-size: 11pt;
				 margin: 0;
				 padding: 0;
				 font-weight: normal;
			}
	}
	.right{
		float:right;
		padding-top: 20px;
		a.imglink{
			height: 100px;
			width: 100%;
			display: block;
			background-repeat: no-repeat;
			background-position: center center;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			background-size: cover;
			-webkit-border-radius: 5px 0px 0px 5px;
			-moz-border-radius: 5px 0px 0px 5px;
			border-radius: 5px 0px 0px 5px;
			margin-top: 12px;
			position: relative;
			span{
				position: absolute;
				-webkit-hyphens: auto;
				   -moz-hyphens: auto;
				    -ms-hyphens: auto;
				        hyphens: auto;
				word-break:break-word;
				bottom: 5px;
				right: 20px;
				color: #fff;
				text-shadow: 1px 1px 2px #454545;
				font-size: 18pt;
				text-align: right;


			}
			&:first-of-type{
				margin-top: 0px;
			}
		}
	}
	.left{
		width: 62%;
		padding-right: 3%;
		padding-top: 25px;
		float:left;
		article{
			color:#323337;
			font-size: 11pt;
			text-align: justify;
			&:nth-of-type(1){
				padding-top: 0px;
			}
			&:last-of-type{
				padding-bottom: 15px;
			}
			p:nth-of-type(1){
				margin-top: 0;
				padding-top: 0;
			}
			p:last-of-type{
				padding-bottom: 0px;
				margin-bottom: 0px;
			}
			h1{
				font-weight: normal;
				font-size: 11pt;
				font-family: 'tepeno_sansbold';
				margin-top: 0;
				margin-bottom: 0px;
				padding: 0;
			}
			p{
				line-height: 1.3;
			}
		}
		a.koik{
			float:right;
			color:$helesinine;
			text-transform: uppercase;
			text-decoration: none;
			font-family: 'tepeno_sansbold';
			font-size: 10pt;
			margin-bottom: 20px;
		}
		a.loe{
			float:right;
			color:$helesinine;
			text-decoration: none;
		}
	}
	.right{
		width: 30%;
	}
	&:before{
		content:"";
		position: absolute;
		bottom: -43px;
		width: 100%;
		height: 43px;
		background-image: url("../img/sisu-vari.png");
		background-position: center center;
		background-repeat: no-repeat;
		left:0px;
	}
}