section#majutus{
	padding-bottom: 20px;
	.right{
		padding-top: 0px;
		width: 43%;
		padding-right: 2%;
	}
	.left{
		width: 52%
	}
	table.hinnakiri{
		margin-left: -5px;
		width: 100%;
		border-spacing: 5px;
   		border-collapse: separate;
   		tr.head2{
   			td{
   				background-color: #89aaef;
   			}
   		}
		td{
			background-color: $hinnakiri;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
			height: 25px;
			border: none;
			padding-left: 0px;
			padding-right: 0px;
			padding-top: 5px;
			color: #fff;
			text-transform: uppercase;
			text-align: center;
			&.head1{
				height: 30px;
				line-height: 30px;
			}
			&.hind{
				background-color: #d2def8;
				color: $hall;
			}
		}
	}
}