$helesinine: rgba(0, 133, 255, 0.86);
$hall: #6c6c6c;
$headerhall: #808080;

@import "_normalize.scss";
@import "_common.scss";
@import "_index.scss";
@import "_fonts.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_single.scss";
@import "_nolvad.scss";
@import "_hinnakiri.scss";
@import "_majutus.scss";
@import "_galerii.scss";

