$grey: #636363;
$light: #ededed;
$blue: #53c6d6;
@import "_normalize.scss";
@import "_jqueryui.scss";

@import "_common.scss";
@import "_index.scss";
@import "_fonts.scss";
@import "_header.scss";
@import "_aside.scss";
@import "_blogi.scss";
@import "_kat.scss";

